footer{
    background-color: $white-colour;
    padding: 15px 0 15px 0;
}


footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    margin-bottom: 0;
}

.footer-icons{
    color: $secondary-colour;
}

@media(max-width: 767px){
footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

footer p:nth-of-type(1){
    grid-column: 1;
    display: grid;
    justify-self: start;
}

footer p:nth-of-type(2){
    grid-column: 3;
    display: grid;
    justify-self: end;
}

.footer-icons{
    grid-column: 2;
    margin-bottom: 15px;
}

}